.washer .reserved {
  border-radius: 100px;
  margin: 10px;
  padding: 100px;
  height: 50px;
  width: 50px;
  background-color: red;
  float: left;
}

.washer {
  border-radius: 100px;
  margin: 10px;
  padding: 100px;
  height: 50px;
  width: 50px;
  background-color: green;
  float: left;
}
